
@font-face {
    font-family: "Jolley";
    src: url("/fonts/jolley.woff");
    }

@font-face {
    font-family: "Base Neue";
    src: url("/fonts/base-neue.ttf");
    }

::-webkit-scrollbar {
    width: 8px;
    }

::-webkit-scrollbar-track {
    background-color: #000;
    }

::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
    border-radius: 4px;
    }

::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
    }

body {
    margin: 0;
    font-family: "Base Neue";
    background-color: #000000;
    color: #c8c8c8;
    padding: 0;
    }

#nav-header {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    }

.link {
    padding: 8px;
    text-decoration: #FFF3DA underline;
    color: #FFF3DA;
    margin: auto 40px;
    }

.link:hover {
    opacity: 0.7;
    }

#description{
    position: relative;
    top: 200px;
    font-size: 26px;
    margin: 50px;
    width: 1200px;
    color: #B6C5B6;
    }

#contact-form-container {
    position: absolute;
    padding: 40px;
    margin: 50px;
    top: 600px;
    width: 850px;
    }
    
#contact-form {
    position: absolute;
    background-color: #425E47;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    }
    
#contact-form h2 {
    text-align: center;
    color: #FFEDC8;
    }
    
#contact-form label {
    margin-top: 10px;
    }
    
#contact-form input,
#contact-form textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #FFF5E1;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
#contact-form button {
    background-color: #FFF5E1;
    font-family: "Base Neue";
    color: black;
    align-items: center;
    border: 3px solid #45a049;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    }
    
#contact-form button:hover {
    background-color: #45a049;
    }

#contact-form-container:hover #contact-form {
    transform: rotate(5deg);
    }
    
footer
{
    position: absolute;
    bottom: -680px;
    font-size: 19px;
    margin: 50px;
}