html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #c8c8c8;
    padding: 0;
}

#nav-header {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.link {
    filter: drop-shadow(4px 5px 6px #b2b1b1);
    padding: 8px;
    text-decoration: none;
    color: #b3b3b3;
    margin: auto 40px;
}

.link:hover {
    opacity: 0.7;
}

#interactive-section {
    height: 100vh;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
}

#main-content {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

#main-content.display {
    opacity: 1;
}