@font-face {
    font-family: "Jolley";
    src: url("/fonts/jolley.woff");
    }

@font-face {
    font-family: "Base Neue";
    src: url("/fonts/base-neue.ttf");
    }

::-webkit-scrollbar {
    width: 8px;
    }

::-webkit-scrollbar-track {
    background-color: #000;
    }

::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
    border-radius: 4px;
    }

::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
    }

html {
    scroll-behavior: smooth;
    }

body {
font-family: "Base Neue";
    margin: 0;
    margin-left: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #000000;
    color: #c8c8c8;
    font-size: 24px;
    }
    
#nav-header {
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 16px;
        font-weight: 500;
        padding: 10px;
    }
    
.link {
    padding: 8px;
    text-decoration: #b3b3b3 underline;
    color: #b3b3b3;
    margin: auto 40px;
    }

.link:hover {
        opacity: 0.7;
    }

#creative-section{
    position: relative;
    height: 100vh;
    top: 100px;
}

.sentences{
    position: relative;
    width: 80vw;
}

#heart-animation {
    animation: heartbeat 1.5s infinite;
    }
    
#stylistic-connection-animation {
    animation: styleConnection 2s infinite alternate;
    }
    
#fashionably-late-animation {
    animation: fashionablyLate 1s infinite alternate;
    }
    
#pixel-perfect-animation {
    animation: pixelPerfect 1.5s infinite alternate;
    }
    
#future-fashionista-animation {
    animation: futureFashionista 2s infinite alternate;
    }
    
@keyframes heartbeat {
    0%, 100% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
}

@keyframes styleConnection {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(-10px);
    }
}

@keyframes fashionablyLate {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(5px);
    }
}

@keyframes pixelPerfect {
    0% {
    transform: scaleX(1);
    }
    100% {
    transform: scaleX(1.1);
    }
}

@keyframes futureFashionista {
    0% {
    opacity: 0.8;
    }
    100% {
    opacity: 1;
    }
}

footer{
    position: relative;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: -1200px;
    left: -300px;
    width: 150vw;
    font-size: 18px;
}